body {
  background: #f6f7f8 0% 0% no-repeat;
  margin-left: 18px !important;
  margin-right: 17px !important;
  margin-top: 23px !important;
  color: #072635;
  font-family: "Manrope", sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* ============= all scroll bars  ============== */

/* Scrollbar track (background) for body */
body::-webkit-scrollbar {
  width: 6px;
  background: #e3e4e6;
  border-radius: 3px;
}

/* Scrollbar handle (foreground) for body */
body::-webkit-scrollbar-thumb {
  background: #072635;
  border-radius: 3px;
  opacity: 1;
}

/* Scrollbar hover effect for body */
body::-webkit-scrollbar-thumb:hover {
  background: #045167;
}




/* Scrollbar track (background) for .patients-bar, .diagnostic-list, and .lab-results */
.patients-bar::-webkit-scrollbar,
.diagnostic-list::-webkit-scrollbar,
.lab-results::-webkit-scrollbar {
  width: 6px;
  background: #e3e4e6;
  border-radius: 3px;
}

/* Scrollbar handle (foreground) for .patients-bar, .diagnostic-list, and .lab-results */
.patients-bar::-webkit-scrollbar-thumb,
.diagnostic-list::-webkit-scrollbar-thumb,
.lab-results::-webkit-scrollbar-thumb {
  background: #072635;
  border-radius: 3px;
  opacity: 1;
}

/* Scrollbar hover effect for .patients-bar, .diagnostic-list, and .lab-results */
.patients-bar::-webkit-scrollbar-thumb:hover,
.diagnostic-list::-webkit-scrollbar-thumb:hover,
.lab-results::-webkit-scrollbar-thumb:hover {
  background: #045167;
}










/*  commonly used  */
.font-mute {
  color: #707070;
}

.nav-ico {
  width: 16px;
  height: 17px;
}

.heading {
  color: #072635;
  font-size: 24px;
  font-weight: 800;
}

/* ===== navbar ====== */
nav {
  border-radius: 70px;
  background: #ffffff 0% 0% no-repeat padding-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 14px;
}

.nav-links a {
  display: flex;
  gap: 9px;
  align-items: center;
  font-weight: bold;
}
.nav-links a img {
  width: 16px;
  height: 17px;
  /* justify-content: space-between; */
}

.active-link {
  background-color: #01f0d0;
  border-radius: 41px;
  padding: 10px 15px 10px 15px;
}

/* patients bar */

.patients-bar {
  background-color: #ffffff;
  border-radius: 16px;
  overflow-y: scroll;
  height: 1054px;
}



.patients-bar h3 {
  font-weight: bold;
}
.patients-bar p {
  color: #707070;
}
#names-list img {
  width: 48px;
  height: 48px;
}

#names-list div:hover {
  background-color: #d8fcf7;
  cursor: pointer;
}

/* lab results */

.lab-results {
  width: 367px;
  height: 296px;
  border-radius: 16px;
  background: #ffffff;
  padding: 20px;
  overflow-y: scroll;
}

.lab-results div {
  margin-top: 5px;
}

.lab-results img {
  width: 16px;
  height: 17px;
}

.lab-results table {
  width: 100%;
}

.lab-results td {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.lab-results tr :hover {
  background-color: #f6f7f8;
  cursor: pointer;
}

/* diagnosys history section */

.dygnosys-history-section {
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 16px;
  margin-bottom: 32px;
  padding: 20px;
}

.dygnosys-item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* width: 228px; */
  height: 242px;
  padding: 16px;
  border-radius: 12px;
}

.dygnosys-item img {
  width: 96px;
  height: 96px;
}

/* chart */
.chart {
  /* width: 726px; */
  height: 298px;
  background: #f4f0fe 0% 0% no-repeat padding-box;
  border-radius: 12px;
  margin-bottom: 20px;
  padding: 10px;
}

/* Dygnosys Item */
.dygnosys-item-heading {
  color: #072635;
  font-size: 30px;
  font-weight: bolder;
}

/* diagnostic list */

.diagnostic-list {
  background-color: #ffffff;
  border-radius: 16px;
  padding: 10px;
  height: 349px;
  overflow-y: scroll;
  padding: 10px;
}

.diagnostic-list td {
  padding: 15px;
}

.diagnosys-table-header {
  background: #f6f7f8 0% 0% no-repeat padding-box;
  border-radius: 24px;
  padding: 15px;
}

/* profile */

.profile-content {
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 16px;
  width: 367px;
  height: 740px;
  margin-bottom: 32px;
}

.info-icon {
  background-color: #f6f7f8;
  padding: 15px;
  border-radius: 50px;
  width: 42px;
  height: 42px;
}

.info-icon img {
  /* width: 30px ;
  height: 30px ; */
}

.profile-info h6 {
  font-size: 14px;
  color: #072635;
  font-weight: bold;
}

.profile-info span {
  font-size: 14px;
}

.profile-content button {
  background-color: #01f0d0;
  border-radius: 41px;
  width: 220px;
  height: 41px;
  margin-top: 40px;
}

#profile-pic {
  width: 200px;
  height: 200px;
  margin-top: 32px;
}
